<header class="v.header container-fluid">

    <div class="fullscreen-video-wrap">
        <video src="./assets/video/video1.mp4" autoplay="true" loop="true"></video>
    </div>

    <div class="header-overlay">
        <div class="header-content">

            <nav class="navbar navbar-expand-lg navbar-inverse bg-dark">
                <a class="navbar-brand" href="#" style="font-size:1.3em">Review</a>
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="start" style="margin-right:10px">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="login" href="#" style="margin-right:10px">Sign In</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="login/register" href="#" style="margin-right:10px">Sign Up</a>
                        </li>
                    </ul>

                </div>
            </nav>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                <label style="margin-top:165px">“We see our customers as invited guests to a party, and we are the</label><br>
                    
                <label>hosts. It’s our job every day to make every important aspect</label><br>
                <label>of the customer experience a little bit better.”</label><br>
                <h3 style="color: #fff;font-weight:500;letter-spacing: .10em;font-style:oblique">  — Jeff Bezos</h3>
            </div>
            <div class="col-sm-1"></div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</header>