
<header class="v-header container-fluid">
  <div class="fullscreen-video-wrap">
     <video src="./assets/video/video1.mp4" autoplay="true" loop="true"></video>
  </div>
  <div class="header-overlay">
    <div class="header-content login">
        <form [formGroup]="loginForm" class="form-container">
            <h2>Login</h2>
          <input formControlName="email" type="text" placeholder="E-mail" [(ngModel)]="l.email" required="required" />
            <input formControlName="password" type="password" placeholder="Password" [(ngModel)]="l.pass" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large" (click)="login()">Login in</button>
    
        <div class="d-flex bd-highlight mb-3" style="margin-top:3px">
          <div class="mr-auto p-2 bd-highlight"><a routerLink="./register" style="color: #fff;font-size: .9em;font-weight:200">Sign in</a></div>
          <div class="p-2 bd-highlight"><a routerLink="./forgot-pass" style="color: #fff;font-size: .9em;font-weight:200">forgot password?</a></div>
      
        </div>
        </form>

    </div>
  </div>

</header>
